body{
    background-image:url(B.jpeg) ;
    min-height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:  cover;
    position: relative;
  
  }
  p.x{
    text-align: center;
        font-size: 70px;
        color: white;
      }

 label{
                color: white;
                font-size: 20px;
 }
  input{
               border-radius: 5px;
                padding: 5px;
  }
            button{
               border-radius: 5px;  
               padding: 10px 30px 10px 30px;
               background-color: white;
               margin-left: 10px;
               font-size: 20px;
               font-weight: bold;
            }
         
            label.i{
                margin-left: 50px;
            }

            ul {
              list-style-type: none;
            
              padding: 0;
              overflow: hidden;
              border-radius: 10px;
              border: black;
            
            }
            
            li {
              float: left;
              border: black;
            }
            
            li a {
              display: block;
              color: white;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
              font-size: 25px;
            }
            
            li a:hover:not(.active) {
              border-bottom: 3px solid white;
            
              background-color:#f1eb90;
            }
            
            li a.active {
              border-bottom: 3px solid white;
            
              color: white;
              background-color:#f1eb90;
            }